/* ----------- GENERAL ----------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
}

/* ----------- NAVBAR ----------- */

.bar-search {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar-search span {
    color: #fff;
}

.bar {
    width: 20rem;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #12bf;
    margin: 0.8em;
}

img {
    height: 4rem;
    width: 4rem;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
}

.navbar {
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    background-color: #12BF;
    color: #f9f9f9;
    font-family: Arial;
}

.navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
}

.navbar-burger {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 64px;
    height: 64px;
    padding: 0;
}

.navbar-title {
    margin: 0;
    font-size: 1.2rem;
}

.navbar-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 270px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    background: #12bf;
    visibility: hidden;
    transition: all 0.3s;
}

body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
}

.navbar-menu > button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
    font-size: 0.9rem;
    transition: all 0.3s;
}

.navbar-menu > button.active {
    color: inherit;
}

.navbar-menu > button.active:hover {
    color: rgba(255, 255, 255, 0.75);
}

.active {
    border-right: 1px solid #e8e8e8;
}

@media only screen and (min-width: 600px){
    .navbar{
        justify-content: space-between;
        padding: 0 0 0 16px;
    }

    .navbar-overlay {
        display: none;
    }

    .navbar-burger {
        display: none;
    }

    .navbar-menu {
        position: static;
        translate: 0 0;
        width: auto;
        background: transparent;
        flex-direction: row;
        visibility: visible;
    }
}

/* ----------- WRAPER ----------- */

.wraper {
    display: flex;
    height: 81.6vh;
    font-family: Arial;
}

/* ----------- ASIDE ----------- */

.container-aside {
    padding: 4.5rem;
}

.perfil {
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
}

.Perfil-Usuario {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    margin: 1rem;
    box-shadow: 0 0 20px 0 #12bf;
}

aside {
    background-color: rgba(77, 105, 230, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    padding: 2.5rem;
}
aside ul {
    list-style: none;
    padding: 0;
}
aside button {
    background-color: #12bf;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #fffb;
    color: #e8e8e8;
}

/* ----------- MAIN ----------- */

.material-symbols-outlined {
    background-color: #fff;
    color: #000;
}

.user-name {
    font-size: 0.9rem;
    padding: 0 8px;
}

main {
    flex-grow: 1;
}

.fondo-perfil {
    background-color: #ccc;
    height: 400px;
}

h4 {
    padding: 0.6rem;
}

.id_usuario {
    font-weight: 100;
}

.contactar {
    padding: 10px;
    width: 10rem;
    margin: 1rem;
}

li {
    padding: 5px;
    color: #e9e9e9;
}

h2 {
    padding: 0.5rem;
    text-decoration: underline;
    color: #12bf;
    margin: 2rem;
    text-align: center;
}

.container-trabajos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    text-align: center;
    margin: 0 4rem;
}

.First-proyecto, .Second-proyecto, .Third-proyecto{
    width: 10rem;
    height: 10rem;
    border-radius: 26px;
}

/* ----------- FOOTER ----------- */

footer {
    font-family: Arial;
    text-align: center;
    font-size: 0.95rem;
    background-color: #152326;
    color: #d8d8d8;
    padding: 3rem;
}