* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('https://upload.wikimedia.org/wikipedia/commons/1/12/New-york-fondos-pantalla-hd-31.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: rgba(77, 105, 230, 0.815);
}

.container {
    background: #fff;
    padding: 4rem;
    display: grid;
    gap: 10px;
    min-width: 600px;
    min-height: 400px;
}

.container h1 {
    text-decoration: underline;
    text-align: center;
    color: #12bf;
}

.label {
    font-size: 0.9rem;
}

.l2 {
    margin-top: 25px;
}

input {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #000;
    margin-bottom: 0.4rem;
}

button {
    padding: 2px;
    border-radius: 6px;
    border: none;
    margin: 5px 0;
    background-color: #12bf;
    color: #fff;
}

.submit {
    padding: 0.8rem;
}

.google-btn {
    font-weight: 750;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 20px;
    height: 20px;
    margin: 5px;
}