* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://images.unsplash.com/photo-1518391846015-55a9cc003b25?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Zm9uZG8lMjBkZSUyMHBhbnRhbGxhJTIwZGUlMjBudWV2YSUyMHlvcmt8ZW58MHx8MHx8fDA%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #12bf;
    font-weight: 700;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 0.9rem;
}

.container {
    background-color: #fff;
    display: grid;
    padding: 1.5rem;
    gap: 6px;
    min-width: 600px;
    min-height: 200px;
}

input {
    border-radius: 6px;
    border: 1px solid #0006;
    padding: 6px;
    margin-bottom: 0.8rem;
}

.vista-correo {
    padding: 3px;
    margin: 0;
    font-size: 0.9rem;
    border: none;
}

button {
    background-color: #12bf;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}
button:hover {
    background-color: #12bf;
    box-shadow: 0 0 10px 0 #12bf;
}
button:active {
    background-color: #fff;
    color: #12bf;
}

.footer {
    font-weight: 500;
    padding: 2px;
}